.btn {
    padding: 8px;
    width: 40px;
}

.btnBg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.search {
    background-image: url(/public/images/search.png);
}

.brightness {
    background-image: url(/public/images/brightness.png);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.btn.invert {
    filter: invert(1);
}
.btn.invert:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.datetime {
    display: table-cell;
    width: 70px !important;
    cursor: pointer;
    padding-top: 3px;
}

.datetime:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.smallText {
    font-size: 10px;
}

.github {
    background-image: url(/public/images/github.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    filter: invert(1);
}

.linkedIn {
    background-image: url(/public/images/linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
}
